@font-face {
  font-family: 'icons';
  src:  url('fonts/icons.eot?j30mw4');
  src:  url('fonts/icons.eot?j30mw4#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?j30mw4') format('truetype'),
    url('fonts/icons.woff?j30mw4') format('woff'),
    url('fonts/icons.svg?j30mw4#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="__icon-"], [class*=" __icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.__icon-clear:before {
  content: "\e934";
}
.__icon-filter-arrow:before {
  content: "\e933";
}
.__icon-cargo-menu:before {
  content: "\e932";
}
.__icon-home:before {
  content: "\e931";
}
.__icon-loop:before {
  content: "\e92f";
}
.__icon-filter:before {
  content: "\e930";
}
.__icon-menu:before {
  content: "\e92e";
}
.__icon-setting:before {
  content: "\e929";
}
.__icon-exit:before {
  content: "\e92a";
}
.__icon-review-add:before {
  content: "\e92b";
}
.__icon-user-delete:before {
  content: "\e92c";
}
.__icon-warning:before {
  content: "\e92d";
}
.__icon-cars-tab:before {
  content: "\e922";
}
.__icon-license-user:before {
  content: "\e926";
}
.__icon-cargos-tab:before {
  content: "\e927";
}
.__icon-reviews-tab:before {
  content: "\e928";
}
.__icon-license-car:before {
  content: "\e925";
}
.__icon-average-star:before {
  content: "\e924";
}
.__icon-date-info:before {
  content: "\e923";
}
.__icon-urgent-cargo:before {
  content: "\e920";
}
.__icon-license-cargo:before {
  content: "\e921";
}
.__icon-engine:before {
  content: "\e91c";
}
.__icon-wheel-mode:before {
  content: "\e91d";
}
.__icon-gearbox:before {
  content: "\e91e";
}
.__icon-power:before {
  content: "\e91f";
}
.__icon-cargo-name:before {
  content: "\e914";
}
.__icon-info-edit:before {
  content: "\e915";
}
.__icon-weight:before {
  content: "\e916";
}
.__icon-date:before {
  content: "\e917";
}
.__icon-type-body:before {
  content: "\e918";
}
.__icon-price:before {
  content: "\e919";
}
.__icon-type-pay:before {
  content: "\e91a";
}
.__icon-distant:before {
  content: "\e91b";
}
.__icon-company-name:before {
  content: "\e913";
}
.__icon-success:before {
  content: "\e912";
}
.__icon-close:before {
  content: "\e911";
}
.__icon-upload:before {
  content: "\e910";
}
.__icon-user-edit:before {
  content: "\e90c";
}
.__icon-map:before {
  content: "\e90d";
}
.__icon-phone:before {
  content: "\e90e";
}
.__icon-mail:before {
  content: "\e90f";
}
.__icon-user:before {
  content: "\e90a";
}
.__icon-company:before {
  content: "\e90b";
}
.__icon-visible_pass:before {
  content: "\e909";
}
.__icon-login:before {
  content: "\e907";
}
.__icon-pass:before {
  content: "\e908";
}
.__icon-star:before {
  content: "\e900";
}
.__icon-left_arr:before {
  content: "\e901";
}
.__icon-right_arr:before {
  content: "\e902";
}
.__icon-cargo_add:before {
  content: "\e903";
}
.__icon-cargos:before {
  content: "\e904";
}
.__icon-car_add:before {
  content: "\e905";
}
.__icon-cars:before {
  content: "\e906";
}
